# "org" ensures this Service is used with the correct Serverless Framework License Key.
org: camilaniebles
service: notes-api

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:Query
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:DescribeTable
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-notes-${sls:stage}
  environment:
    NODE_ENV: ${self:provider.stage}
    NOTES_TABLE_NAME: ${self:service}-notes-${sls:stage}
    IS_OFFLINE: false

functions:
  health:
    handler: src/handlers/health.handler
    events:
      - http:
          path: /health
          method: get
  create:
    handler: src/handlers/create.handler
    events:
      - http:
          path: /notes
          method: post
  getById:
    handler: src/handlers/getById.handler
    events:
      - http:
          path: /notes
          method: get
  update:
    handler: src/handlers/update.handler
    events:
      - http:
          path: /notes/{id}
          method: put

resources:
  Resources:
    NotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-notes-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: cognitoId
            AttributeType: S
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: cognitoId
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        Tags:
          - Key: service
            Value: ${self:service}
          - Key: stage
            Value: ${sls:stage}


plugins:
  - serverless-offline
